main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.ippadrao{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.che{
    margin: 20px 0;
}

.env{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.env:hover{
    background: darkorange;
    transform: scale(1.1);
}

table{
    margin: 20px 0 40px;
}

thead{
    background: gray;
    color: aliceblue;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 15px 8px;
}