.principal{
    background-color: #CCCCCC;
    padding: 30px;
}

.tprin{
    padding-left: 20px;   
}

#banner{
    width: 100%;

}

p{
    text-align: center;
}

#mi{
    font-size: 20px;

}

.tcentral{
    text-align: center;
}

em strong{
    color: #FF0000;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: white;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.benimg{
    width: 50%;
}